/* Background 
Botoes
Cores de textos*/
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf");
  font-style: normal;
  font-display: swap;
}
:root {
  --background-color_primary_color: #ffffff;
  --background-color_secondary_color: #f5f5f5;
  --background-color_tertiary_color: #000000;

  --primary_color: #8f0101;

  --butoon-color_primary_color: #8f0101;
  --butoon-color_secondary_color: #b81515;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --title-wigth: 700;
  --text-weigth: 400;
  --menu-text-weigth: 500;
}

/* CSS RESET */
body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Montserrat";
  font-weight: var(--title-weight);
  color: var(--primary_color);
}

body {
  font-family: Montserrat;
}
